---
# Distributed tracing settings
tracing:
  # Enables tracing.
  enabled: false
  # The output for the collected traces.
  output:
    jaeger_thrift_udp:
      server_addr: "127.0.0.1:6831"
      reporter_bind_addr: ~
  # The strategy used to sample traces.
  sampling_strategy:
    active:
      sampling_ratio: 1.0
      rate_limit:
        enabled: false
        max_events_per_second: 0
  # Enable liveness tracking of all generated spans. Even if the spans are
  # unsampled. This can be useful for debugging potential hangs cause by
  # some objects remaining in memory.  The default value is false, meaning
  # only sampled spans are tracked.
  #
  # To get a json dump of the currently active spans, query the telemetry
  # server's route at `/debug/traces`.
  liveness_tracking:
    # Enables liveness tracking.
    enabled: false
    # Enable liveness tracking of all generated spans. Even if the spans are
    # unsampled. This can be useful for debugging potential hangs caused by
    # some objects remaining in memory. The default value is `false`, meaning
    # _only sampled_ spans are tracked.
    track_all_spans: false
# Logging settings.
logging:
  # Specifies log output.
  output: terminal
  # The format to use for log messages.
  format: text
  # Set the logging verbosity level.
  verbosity: INFO
  # A list of field keys to redact when emitting logs.
  #
  # This might be useful to hide certain fields in production logs as they may
  # contain sensitive information, but allow them in testing environment.
  redact_keys: []
  # Settings for rate limiting emission of log events
  rate_limit:
    # Whether to enable rate limiting of events
    enabled: false
    # Maximum number of events that can be emitted per second
    max_events_per_second: 0
  # Configure log volume metrics.
  log_volume_metrics:
    # Whether to enable log volume metrics
    enabled: false
# Metrics settings.
metrics:
  # How the metrics service identifier defined in `ServiceInfo` is used
  # for this service.
  service_name_format: metric_prefix
  # Whether to report optional metrics in the telemetry server.
  report_optional: false
# Memory profiler settings
memory_profiler:
  # Enables memory profiling
  enabled: false
  # Value between `0` and `64` which specifies the number of bytes of
  # allocation activity between samples as `number_of_bytes = 2 ^ sample_interval`.
  #
  # Increasing the `sample_interval` decreases profile fidelity, but also decreases the
  # computational overhead.
  #
  # The default is `19` (2 ^ 19 = 512KiB).
  sample_interval: 19
# Server settings.
server:
  # Enables telemetry server
  enabled: true
  # Telemetry server address.
  addr: "127.0.0.1:0"
